
<div id="flashback-img-div">
<%= render :partial => "shared/navbar" %>
<center><h1>Please Share Your Memories with us!</h1></center>

<div class="col-lg-6">
	<h3>Memories</h3>
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt inventore maiores odio praesentium atque provident doloremque minima possimus, at cumque quam nihil nesciunt ducimus recusandae est iure totam, quis quos.</li><hr>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quia dignissimos pariatur iste, vitae ullam quo expedita error a distinctio, corporis laborum adipisci, neque nam veniam quam at! Laborum, blanditiis.</li><hr>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores debitis culpa possimus quidem? Aspernatur dolores eaque quidem voluptatibus ab exercitationem blanditiis quasi deserunt facere qui, itaque, voluptates dolore, labore quae.</li><hr>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quaerat ex nobis. Blanditiis accusamus fugit nulla at reprehenderit nostrum tenetur ea laboriosam sit aut error, quos ex cupiditate porro.</li><hr>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ea aliquid asperiores repellendus praesentium tempora ipsa, vero suscipit corporis mollitia dicta consequatur deserunt vel at amet eos perferendis, soluta facere?</li><hr>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ut, doloribus non odio delectus molestiae ullam! Amet ullam voluptates officiis ea dolorem optio, quam officia deserunt itaque maxime dicta asperiores.</li><hr>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores debitis culpa possimus quidem? Aspernatur dolores eaque quidem voluptatibus ab exercitationem blanditiis quasi deserunt facere qui, itaque, voluptates dolore, labore quae.</li><hr>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus voluptates quaerat ex nobis. Blanditiis accusamus fugit nulla at reprehenderit nostrum tenetur ea laboriosam sit aut error, quos ex cupiditate porro.</li><hr>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ea aliquid asperiores repellendus praesentium tempora ipsa, vero suscipit corporis mollitia dicta consequatur deserunt vel at amet eos perferendis, soluta facere?</li><hr>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus ut, doloribus non odio delectus molestiae ullam! Amet ullam voluptates officiis ea dolorem optio, quam officia deserunt itaque maxime dicta asperiores.</li>

	</ul>

</div>

</div>
