<div id="nutrition-img-div">
<%= render :partial => "shared/navbar" %>
<<<<<<< HEAD
</div>
=======

<div class="eventsList">
  <center><h2>Nutrition</h2></center>
  <div class="col-lg-6">
    <center><h3>Diet Plans</h3></center>
    <table>
      <tr>
        <th>Add an Event</th>
        <th>Date</th>
        <th>Posted by</th>
      </tr>
      <tr>
        <td>Sample Sample Sample Sample Sample Sample</td>
        <td>Sample</td>
        <td>Sample</td>
      </tr>
    </table>
  </div>

  <div class="col-lg-4 pull-right">
    <center>
      <form>
        <div class="form-group">
          <label>Share your Diet with us!</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </center>
  </div>
</div>
>>>>>>> 312f3fccfd3a852555c83b429395303103f82d2c
