<%= render :partial => "shared/navbar" %>


<div class="jumbotron">
	<h2>Hello, world!</h2>
	<h2>Hello, world!</h2>
	<h2>Hello, world!</h2>
	<h2>Hello, world!</h2>
	<h2>Hello, world!</h2>
</div>
<div class="jumbotron">
	<h2>Hello, world!</h2>
</div>
<div class="jumbotron">
	<h2>Hello, world!</h2>
</div>