

<!-- <div id="mainPic" class="container-fluid">
<div class="col-lg-12"">
<a href="homepages"><%= image_tag("main.jpg") %></a>
</div>
</div>
</div>
 -->


<!-- <div class="container">
	<div id="main-img-div">
		<a id="main-img" href="homepages"><%= image_tag("main.jpg") %></a>
	</div>
</div>
 -->



<a href="homepages" id="main-img-div">
    <div id="h1-fix">
        
        <h1>Welcome Racer! Come on in to the pit area, Everything you want to know is here! If its not, just make up a topic for it. <strong>ENJOY!</strong></h1>
    </div>

</a>
