<h1>This is the main page with GIF picture to click to get to our home page. Jesus do it</h1>
<h1>We need some content about us (html)</h1>
<h1>Need to footer in the layout</h1>
<a href="/homepages">Link to HomePage</a>

<%= render :partial => "shared/navbar" %>
