/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "mainpage";
@import "flashbacks";
@import "events";
@import "garages";
@import "nutritions";
@import "toytracks";
@import "sponsors";
@import "trainings";
@import "yardsales";
@import "eventdetails";

            /************************************* SHARED FOLDER *************************************/

.center-nav {
    display: inline-block;
    float: none;
    text-align: center;
}


.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
.btnbtn-primary {
	margin-top: 2px;
}

.detail_div {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: url('/assets/details.jpg') no-repeat center center;
    background-size: 60vw 10000vh;
    overflow: hidden;
    opacity:0.95;
    padding: 5px;
}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 2vmin;
}



/************************************** EVENTS FOLDER **************************************/

.col-lg-7 {
    height: 450px;
    margin-left: 10px;
    overflow: auto;
    margin-bottom: 50px;
    margin-top: 15px;
    background-color: black;
    opacity:0.7;
    color: yellow;
    border-radius: 30px;
    font-size: 120%;
}


.col-lg-4 {
    background-color: black;
    opacity: 0.7;
    color: white;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

input,textarea {
    background-color:gray !important;
    color: yellow !important;
    font-weight: bold;
}
table {
    border: hidden;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #3a2710;
}




/*/************************************** FOOTER ***************************************/


.navbar-default {
    height: 30px;
}

.navbar-text {
    margin-top: 2px !important;
}
a {
    color: orange;
}






