// Place all the styles related to the Eventdetails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#eventdetails-img-div {
	position: fixed;
	/* width: 200px; */
	/* height: 200px; */
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: url('/assets/crowd.png') no-repeat center center;
	background-size: cover;
	overflow: auto;
}