// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";




/************************************** EVENTS FOLDER **************************************/

.eventsList {
	height: 450px;
	border: 1px solid black;
	margin-left: 5px;
}
#event-img-div {
	position: fixed;
	/* width: 200px; */
	/* height: 200px; */
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: url('/assets/crowd.png') no-repeat center center;
	background-size: cover;
}
