// Place all the styles related to the mainpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-fluid {
	width: 100% \9;
}
/* .jumbotron {
	background-image: url('../images/main.jpg');
} */
#main-img-div {
	position: fixed;
	/* width: 200px; */
	/* height: 200px; */
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	background: url('/assets/main.jpg') no-repeat center center;
	background-size: cover;
	text-decoration: none;
}
#main-img {
	background-size: contain;
}

#h1-fix {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 10vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 10vh;
    text-decoration: none;
    margin: 30vh 10vw 0 10vw;
}

